abbr, acronym {
    border-bottom: 1px dotted #888;
    cursor: help;
}

#headerleft, #headerright {
  display: inline-block;
}

#headerright {
  width: 400px;
  vertical-align: top;
  padding-left: 100px;
}

#related {
    overflow: visible;
    white-space: nowrap;
}

#nextpost {
    float: left;
}

#prevpost {
    float: right;
}

#comments {
    clear: both;
}

.noteclassic, .noteimportant, .notewarning, .notetip {
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70% !important;
  min-height: 40px;
  clear: both;
  text-align: justify;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 15px 20px 15px 80px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.noteclassic {
  border: 2px solid #99d;
  background-color: rgba(153, 153, 221, 0.1);
  /*background-color: #eef;*/
  background-image: url(../images/note.png);
}

.noteimportant {
  border: 2px solid #ff0;
  background-color: rgba(255, 255, 0, 0.1);
  /*background-color: #ffc;*/
  background-image: url(../images/important.png);
}

.notewarning {
  border: 2px solid #d99;
  background-color: rgba(221, 153, 153, 0.1);
  /*background-color: #fdd;*/
  background-image: url(../images/warning.png);
}

.notetip {
  border: 2px solid #9d9;
  background-color: rgba(153, 221, 153, 0.1);
  /*background-color: #dfd;*/
  background-image: url(../images/tip.png);
}

kbd {
    color: #333;
    background-color: white;
    text-align: center;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    -moz-border-radius: 4px 4px 4px 4px;
    padding-left: 1px;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
    font-family: sans-serif;
}
