## Uncomment these rules if you want to have nice URLs using
## $conf['userewrite'] = 1 - not needed for rewrite mode 2
RewriteEngine on
#
## Not all installations will require the following line.  If you do, 
## change "/dokuwiki" to the path to your dokuwiki directory relative
## to your document root.
RewriteBase /
## Enable this to restrict editing to logged in users only

## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess files
<Files ~ "^([\._]ht|README$|VERSION$|COPYING$)">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

# Redirect to new wiki

RewriteRule ^de/know-how/hacking/bios-password/start http://wiki.mbirth.de/know-how/hacking/bios-passwords-de.html [L,R=301]
RewriteRule ^de/know-how/hacking/bios-password/acertm203tx http://wiki.mbirth.de/know-how/hacking/bios-password/acer-travelmate-203tx.html [L,R=301]
RewriteRule ^de/know-how/hacking/cisco-catalyst-2950 http://wiki.mbirth.de/know-how/hacking/cisco-catalyst-2950.html [L,R=301]
RewriteRule ^de/know-how/hacking/jamba-downloads http://wiki.mbirth.de/know-how/hacking/jamba-downloads.html [L,R=301]
RewriteRule ^de/know-how/hacking/medion-hddrive2go http://wiki.mbirth.de/know-how/hacking/medion-hddrive2go.html [L,R=301]
RewriteRule ^de/know-how/hacking/tassimo-barcodes http://wiki.mbirth.de/know-how/hacking/tassimo-barcodes.html [L,R=301]
RewriteRule ^de/know-how/hardware/gigaset-m34-usb http://wiki.mbirth.de/know-how/hardware/siemens-gigaset-m34-usb.html [L,R=301]
RewriteRule ^de/know-how/hardware/loewe-concept-plus http://wiki.mbirth.de/know-how/hardware/loewe-concept-plus.html [L,R=301]
RewriteRule ^de/know-how/hardware/siemens-s1621-z220-a http://wiki.mbirth.de/know-how/hardware/siemens-s1621-z220-a.html [L,R=301]
RewriteRule ^de/know-how/hardware/siemens-sl2-141-i http://wiki.mbirth.de/know-how/hardware/siemens-sl2-141-i.html [L,R=301]
RewriteRule ^de/know-how/software/gemeinschaft http://wiki.mbirth.de/know-how/software/gemeinschaft.html [L,R=301]
RewriteRule ^de/misc/fun/quotes http://wiki.mbirth.de/misc/fun/quotes.html [L,R=301]
RewriteRule ^de/misc/fun/websms http://wiki.mbirth.de/misc/fun/websms.html [L,R=301]
RewriteRule ^de/misc/7-gruende http://wiki.mbirth.de/misc/7-gruende.html [L,R=301]
RewriteRule ^de/misc/autokuehler http://wiki.mbirth.de/misc/autokuehler.html [L,R=301]
RewriteRule ^de/misc/beziehungen-nein-danke http://wiki.mbirth.de/misc/beziehungen-nein-danke.html [L,R=301]
RewriteRule ^de/misc/dealstreet http://wiki.mbirth.de/misc/dealstreet.html [L,R=301]
RewriteRule ^de/misc/franzoesisch-in-berlin http://wiki.mbirth.de/misc/franzoesisch-in-berlin.html [L,R=301]
RewriteRule ^de/misc/fuehrerschein-g http://wiki.mbirth.de/misc/fuehrerschein-g.html [L,R=301]
RewriteRule ^de/misc/hausdurchsuchung http://wiki.mbirth.de/misc/hausdurchsuchung.html [L,R=301]
RewriteRule ^de/misc/hfc23-emissions http://wiki.mbirth.de/misc/hfc23-emissions.html [L,R=301]
RewriteRule ^de/misc/schwyzerduetsch-extrem http://wiki.mbirth.de/misc/schwyzerduetsch-extrem.html [L,R=301]
RewriteRule ^de/misc/zitate http://wiki.mbirth.de/misc/zitate.html [L,R=301]
RewriteRule ^de/software/autohotkey/u3helper/tutorial http://wiki.mbirth.de/software/autohotkey/u3helper/tutorial-de.html [L,R=301]
RewriteRule ^de/software/autohotkey/u3helper/u3helper-vs-packagefactory http://wiki.mbirth.de/software/autohotkey/u3helper/u3helper-vs-packagefactory-de.html [L,R=301]
RewriteRule ^know-how/development/bzr http://wiki.mbirth.de/know-how/development/bazaar.html [L,R=301]
RewriteRule ^know-how/development/compile-wx.net http://wiki.mbirth.de/know-how/development/compile-wxnet.html [L,R=301]
RewriteRule ^know-how/development/cookies http://wiki.mbirth.de/know-how/development/cookies.html [L,R=301]
RewriteRule ^know-how/development/firebug http://wiki.mbirth.de/know-how/development/firebug.html [L,R=301]
RewriteRule ^know-how/development/json-mime-types http://wiki.mbirth.de/know-how/development/json-mime-types.html [L,R=301]
RewriteRule ^know-how/development/mono-winforms http://wiki.mbirth.de/know-how/development/mono-winforms.html [L,R=301]
RewriteRule ^know-how/development/pear-channels http://wiki.mbirth.de/know-how/development/pear-channels.html [L,R=301]
RewriteRule ^know-how/gtd/email http://wiki.mbirth.de/know-how/gtd/email.html [L,R=301]
RewriteRule ^know-how/hacking/android/wireshark http://wiki.mbirth.de/know-how/hacking/android/wireshark.html [L,R=301]
RewriteRule ^know-how/hacking/audiomate/start http://wiki.mbirth.de/know-how/hacking/audiomate.html [L,R=301]
RewriteRule ^know-how/hacking/audiomate/firmware http://wiki.mbirth.de/know-how/hacking/audiomate/firmware.html [L,R=301]
RewriteRule ^know-how/hacking/audiomate/hardware http://wiki.mbirth.de/know-how/hacking/audiomate/hardware.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/start http://wiki.mbirth.de/know-how/hacking/bios-passwords.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/acertm203tx http://wiki.mbirth.de/know-how/hacking/bios-password/acer-travelmate-203tx.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/baycomwb http://wiki.mbirth.de/know-how/hacking/bios-password/baycom-worldbook-ii.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/compaq-armada http://wiki.mbirth.de/know-how/hacking/bios-password/compaq-armada.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/dell-latitude-cpi http://wiki.mbirth.de/know-how/hacking/bios-password/dell-latitude-cpi.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/dell-latitude http://wiki.mbirth.de/know-how/hacking/bios-password/dell-latitude.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/fsclbe http://wiki.mbirth.de/know-how/hacking/bios-password/fujitsu-lifebook-e-series.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/gericom-webboy http://wiki.mbirth.de/know-how/hacking/bios-password/gericom-webboy.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/ibm-aptiva http://wiki.mbirth.de/know-how/hacking/bios-password/ibm-aptiva.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/ibm-thinkpad http://wiki.mbirth.de/know-how/hacking/bios-password/ibm-thinkpad.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/shameless-ripoff http://wiki.mbirth.de/know-how/hacking/bios-password/shameless-ripoff.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/sony-vaio http://wiki.mbirth.de/know-how/hacking/bios-password/sony-vaio.html [L,R=301]
RewriteRule ^know-how/hacking/bios-password/toshiba http://wiki.mbirth.de/know-how/hacking/bios-password/toshiba.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/start http://wiki.mbirth.de/know-how/hacking/nintendo-ds.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/backup-savegames http://wiki.mbirth.de/know-how/hacking/nintendo-ds/backup-savegames.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/cyclods-evolution http://wiki.mbirth.de/know-how/hacking/nintendo-ds/cyclods-evolution.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/dump-games http://wiki.mbirth.de/know-how/hacking/nintendo-ds/dump-games.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/extract-sound http://wiki.mbirth.de/know-how/hacking/nintendo-ds/extract-sound.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/ezflash-3in1 http://wiki.mbirth.de/know-how/hacking/nintendo-ds/ezflash-3in1.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/favorite-games http://wiki.mbirth.de/know-how/hacking/nintendo-ds/favourite-games.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/ndstool http://wiki.mbirth.de/know-how/hacking/nintendo-ds/ndstool.html [L,R=301]
RewriteRule ^know-how/hacking/nintendo-ds/wii-downloads http://wiki.mbirth.de/know-how/hacking/nintendo-ds/wii-downloads.html [L,R=301]
RewriteRule ^know-how/hacking/ps2/start http://wiki.mbirth.de/know-how/hacking/sony-playstation-2.html [L,R=301]
RewriteRule ^know-how/hacking/ps2/dms4pro http://wiki.mbirth.de/know-how/hacking/sony-playstation-2/dms4pro.html [L,R=301]
RewriteRule ^know-how/hacking/wii/start http://wiki.mbirth.de/know-how/hacking/nintendo-wii.html [L,R=301]
RewriteRule ^know-how/hacking/wii/backup-games-to-usb-hdd http://wiki.mbirth.de/know-how/hacking/nintendo-wii/backup-games-to-usb-hdd.html [L,R=301]
RewriteRule ^know-how/hacking/wii/encryption-keys http://wiki.mbirth.de/know-how/hacking/nintendo-wii/encryption-keys.html [L,R=301]
RewriteRule ^know-how/hacking/wii/favorite-games http://wiki.mbirth.de/know-how/hacking/nintendo-wii/favourite-games.html [L,R=301]
RewriteRule ^know-how/hacking/wii/hbc http://wiki.mbirth.de/know-how/hacking/nintendo-wii/wii-homebrew-channel.html [L,R=301]
RewriteRule ^know-how/hacking/wii/mii-to-ds http://wiki.mbirth.de/know-how/hacking/nintendo-wii/mii-to-ds.html [L,R=301]
RewriteRule ^know-how/hacking/wii/mplayer-samba http://wiki.mbirth.de/know-how/hacking/nintendo-wii/mplayer-samba.html [L,R=301]
RewriteRule ^know-how/hacking/wii/savegame-editing http://wiki.mbirth.de/know-how/hacking/nintendo-wii/savegame-editing.html [L,R=301]
RewriteRule ^know-how/hacking/wii/twilight-hack http://wiki.mbirth.de/know-how/hacking/nintendo-wii/twilight-hack.html [L,R=301]
RewriteRule ^know-how/hacking/wii/usbloader-gx http://wiki.mbirth.de/know-how/hacking/nintendo-wii/usbloader-gx.html [L,R=301]
RewriteRule ^know-how/hacking/windows-mobile/oggsync http://wiki.mbirth.de/know-how/hacking/windows-mobile/oggsync.html [L,R=301]
RewriteRule ^know-how/hacking/asus-wl300g http://wiki.mbirth.de/know-how/hacking/asus-wl300g.html [L,R=301]
RewriteRule ^know-how/hacking/avm-fritzbox-7270 http://wiki.mbirth.de/know-how/hacking/avm-fritzbox-7270.html [L,R=301]
RewriteRule ^know-how/hacking/linksys-nslu2 http://wiki.mbirth.de/know-how/hacking/linksys-nslu2.html [L,R=301]
RewriteRule ^know-how/hacking/msi-rg54se http://wiki.mbirth.de/know-how/hacking/msi-rg54se.html [L,R=301]
RewriteRule ^know-how/hacking/samsung-se-t084m http://wiki.mbirth.de/know-how/hacking/samsung-se-t084m.html [L,R=301]
RewriteRule ^know-how/hacking/samsung-sgh-z300 http://wiki.mbirth.de/know-how/hacking/samsung-sgh-z300.html [L,R=301]
RewriteRule ^know-how/hacking/siemens-a55 http://wiki.mbirth.de/know-how/hacking/siemens-a55.html [L,R=301]
RewriteRule ^know-how/hacking/siemens-gigaset http://wiki.mbirth.de/know-how/hacking/siemens-gigaset.html [L,R=301]
RewriteRule ^know-how/hacking/siemens-m65 http://wiki.mbirth.de/know-how/hacking/siemens-m65.html [L,R=301]
RewriteRule ^know-how/hacking/sony-psp http://wiki.mbirth.de/know-how/hacking/sony-psp.html [L,R=301]
RewriteRule ^know-how/hacking/teac-mp380 http://wiki.mbirth.de/know-how/hacking/teac-mp380.html [L,R=301]
RewriteRule ^know-how/hacking/zyxel-660hw67 http://wiki.mbirth.de/know-how/hacking/zyxel-660hw67.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/start http://wiki.mbirth.de/know-how/hardware/acer-aspire-one.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/bios-recovery http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/bios-recovery.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/bios-update http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/bios-update.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/card-reader http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/card-reader.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/linpus http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/install-linpus.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/ubuntu http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/install-ubuntu.html [L,R=301]
RewriteRule ^know-how/hardware/acer-aspire-one/wlan http://wiki.mbirth.de/know-how/hardware/acer-aspire-one/wifi.html [L,R=301]
RewriteRule ^know-how/hardware/amazon-kindle/start http://wiki.mbirth.de/know-how/hardware/amazon-kindle.html [L,R=301]
RewriteRule ^know-how/hardware/amazon-kindle/galileo-openbooks http://wiki.mbirth.de/know-how/hardware/amazon-kindle/galileo-openbooks.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/start http://wiki.mbirth.de/know-how/hardware/apple-iphone.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/airvideo-server-linux http://wiki.mbirth.de/know-how/hardware/apple-iphone/airvideo-server-linux.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/appulous http://wiki.mbirth.de/know-how/hardware/apple-iphone/appulous.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/carrier-settings http://wiki.mbirth.de/know-how/hardware/apple-iphone/carrier-settings.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/crashing-apps http://wiki.mbirth.de/know-how/hardware/apple-iphone/crashing-apps.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/develop-apps http://wiki.mbirth.de/know-how/hardware/apple-iphone/develop-apps.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/emojis http://wiki.mbirth.de/know-how/hardware/apple-iphone/emojis.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/firmware-3-beta http://wiki.mbirth.de/know-how/hardware/apple-iphone/firmware-3-beta.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/firmware-unpacking http://wiki.mbirth.de/know-how/hardware/apple-iphone/firmware-unpacking.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/flash http://wiki.mbirth.de/know-how/hardware/apple-iphone/flash-in-safari.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/google-calendars http://wiki.mbirth.de/know-how/hardware/apple-iphone/google-calendars.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/hidden-features http://wiki.mbirth.de/know-how/hardware/apple-iphone/hidden-features.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/iphone-vs-android http://wiki.mbirth.de/know-how/hardware/apple-iphone/iphone-vs-android.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/istat http://wiki.mbirth.de/know-how/hardware/apple-iphone/istat.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/jailbreak http://wiki.mbirth.de/know-how/hardware/apple-iphone/jailbreak.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/messenger http://wiki.mbirth.de/know-how/hardware/apple-iphone/messenger.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/my-apps http://wiki.mbirth.de/know-how/hardware/apple-iphone/my-apps.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/navigation http://wiki.mbirth.de/know-how/hardware/apple-iphone/navigation.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/ssh-access http://wiki.mbirth.de/know-how/hardware/apple-iphone/ssh-access.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/t-mobile-hotspot http://wiki.mbirth.de/know-how/hardware/apple-iphone/tmobile-hotspot.html [L,R=301]
RewriteRule ^know-how/hardware/apple-iphone/tips-and-tricks http://wiki.mbirth.de/know-how/hardware/apple-iphone/tips-and-tricks.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/start http://wiki.mbirth.de/know-how/hardware/google-nexus-one.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/aptoide http://wiki.mbirth.de/know-how/hardware/google-nexus-one/aptoide.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/custom-tones http://wiki.mbirth.de/know-how/hardware/google-nexus-one/custom-tones.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/enable-moving-apps-to-sdcard http://wiki.mbirth.de/know-how/hardware/google-nexus-one/enable-moving-apps-to-sdcard.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/manual-firmware-update http://wiki.mbirth.de/know-how/hardware/google-nexus-one/manual-firmware-update.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/my-apps http://wiki.mbirth.de/know-how/hardware/google-nexus-one/my-apps.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/secret-menus http://wiki.mbirth.de/know-how/hardware/google-nexus-one/secret-menus.html [L,R=301]
RewriteRule ^know-how/hardware/google-nexus-one/wallpapers http://wiki.mbirth.de/know-how/hardware/google-nexus-one/wallpapers.html [L,R=301]
RewriteRule ^know-how/hardware/samsung-galaxy-nexus/manual-firmware-update http://wiki.mbirth.de/know-how/hardware/samsung-galaxy-nexus/manual-firmware-update.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/start http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/feature-bits http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/feature-bits.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/id3-tagging http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/id3-tagging.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/mtp-mode http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/mtp-mode.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/rhythmbox http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/rhythmbox.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/rockbox http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/rockbox-on-fuze.html [L,R=301]
RewriteRule ^know-how/hardware/sandisk-sansa-fuze/video-format http://wiki.mbirth.de/know-how/hardware/sandisk-sansa-fuze/video-format.html [L,R=301]
RewriteRule ^know-how/hardware/analog-tft-calibration http://wiki.mbirth.de/know-how/hardware/analog-tft-calibration.html [L,R=301]
RewriteRule ^know-how/hardware/dymo-labelwriter-320-under-ubuntu http://wiki.mbirth.de/know-how/hardware/dymo-labelwriter-320-under-ubuntu.html [L,R=301]
RewriteRule ^know-how/hardware/evoluent-verticalmouse http://wiki.mbirth.de/know-how/hardware/evoluent-verticalmouse.html [L,R=301]
RewriteRule ^know-how/hardware/fortuna-gpsmartbt http://wiki.mbirth.de/know-how/hardware/fortuna-gpsmart-bt.html [L,R=301]
RewriteRule ^know-how/hardware/hp-laserjet-3p http://wiki.mbirth.de/know-how/hardware/hp-laserjet-3p.html [L,R=301]
RewriteRule ^know-how/hardware/logitech-v400 http://wiki.mbirth.de/know-how/hardware/logitech-v400.html [L,R=301]
RewriteRule ^know-how/hardware/medion-bios-settings http://wiki.mbirth.de/know-how/hardware/medion-bios-settings.html [L,R=301]
RewriteRule ^know-how/hardware/memup-pop-key http://wiki.mbirth.de/know-how/hardware/memup-pop-key.html [L,R=301]
RewriteRule ^know-how/hardware/msi-digivox-a-d http://wiki.mbirth.de/know-how/hardware/msi-digivox-a-d.html [L,R=301]
RewriteRule ^know-how/hardware/msi-p45-platinum http://wiki.mbirth.de/know-how/hardware/msi-p45-platinum.html [L,R=301]
RewriteRule ^know-how/hardware/sheevaplug http://wiki.mbirth.de/know-how/hardware/sheevaplug-guruplug.html [L,R=301]
RewriteRule ^know-how/hardware/sonyericsson-mbw-150 http://wiki.mbirth.de/know-how/hardware/sonyericsson-mbw150.html [L,R=301]
RewriteRule ^know-how/hardware/sphairon-ar860 http://wiki.mbirth.de/know-how/hardware/sphairon-ar860.html [L,R=301]
RewriteRule ^know-how/hardware/stardom-sohoraid-sr3610 http://wiki.mbirth.de/know-how/hardware/stardom-sohoraid-sr3610.html [L,R=301]
RewriteRule ^know-how/hardware/technisat-digicorder http://wiki.mbirth.de/know-how/hardware/technisat-digicorder.html [L,R=301]
RewriteRule ^know-how/hardware/tomtom http://wiki.mbirth.de/know-how/hardware/tomtom-pnas.html [L,R=301]
RewriteRule ^know-how/hardware/western-digital-greenpower http://wiki.mbirth.de/know-how/hardware/wd-green-disks.html [L,R=301]
RewriteRule ^know-how/misc/audio-bitrates http://wiki.mbirth.de/know-how/misc/audio-bitrates.html [L,R=301]
RewriteRule ^know-how/misc/nasa-roger-beep http://wiki.mbirth.de/know-how/misc/nasa-roger-beep.html [L,R=301]
RewriteRule ^know-how/misc/nypd-siren-sounds http://wiki.mbirth.de/know-how/misc/nypd-siren-sounds.html [L,R=301]
RewriteRule ^know-how/misc/rsa-safeword-tokens http://wiki.mbirth.de/know-how/misc/rsa-safeword-tokens.html [L,R=301]
# ...
RewriteRule ^know-how/software/titanium http://wiki.mbirth.de/know-how/software/appcelerator-titanium.html [L,R=301]
# ...
RewriteRule ^know-how/software/linux/remapping-mousebuttons http://wiki.mbirth.de/know-how/software/linux/remapping-mouse-buttons.html [L,R=301]
# ...
RewriteRule ^know-how/software/windows/u3/start http://wiki.mbirth.de/know-how/software/windows/u3.html [L,R=301]
RewriteRule ^know-how/software/windows/u3/basics http://wiki.mbirth.de/know-how/software/windows/u3/basics.html [L,R=301]
RewriteRule ^know-how/software/windows/u3/cruzersync http://wiki.mbirth.de/know-how/software/windows/u3/cruzersync.html [L,R=301]
# ...
RewriteRule ^software/autohotkey/u3helper/start http://wiki.mbirth.de/software/autohotkey/u3helper.html [L,R=301]
RewriteRule ^software/autohotkey/u3helper/tutorial http://wiki.mbirth.de/software/autohotkey/u3helper/tutorial.html [L,R=301]
RewriteRule ^software/autohotkey/u3helper/u3helper-vs-packagefactory http://wiki.mbirth.de/software/autohotkey/u3helper/u3helper-vs-packagefactory.html [L,R=301]


#
## If you enable DokuWikis XML-RPC interface, you should consider to
## restrict access to it over HTTPS only! Uncomment the following two
## rules if your server setup allows HTTPS.
RewriteCond %{HTTPS} !=on
RewriteRule ^lib/exe/xmlrpc.php$      https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]
RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1  [QSA,L]
RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2  [QSA,L]
RewriteRule ^$                        doku.php  [L]
RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteRule (.*)                      doku.php?id=$1  [QSA,L]
RewriteRule ^index.php$               doku.php
