<ul id="comments-tabs">
    <li class="static"><strong>Comments:</strong></li>
    <li data-service="disqus" data-div="comments_disqus">Disqus</li>
    <li data-service="spotim" data-div="comments_spotim">spot.im</li>
    <li class="hint static">(Click to enable.)</li>
</ul>

<div id="comments_disqus" class="comments-tab">
    <div id="disqus_thread">Loading <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>…</div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'mb-wiki';
        var disqus_identifier = '{% if page.id %}{{ page.id }}{% else %}/index{% endif %}';
        var disqus_title = '{{ page.title | replace: "'", "\\'" }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
    </script>
</div>

<div id="comments_spotim" class="comments-tab">
    <div id="spot-im-frame-inpage" data-spotim-module="recirculation" data-spot-id="sp_cNwZLN9Q"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var spotim_postid = '{% if page.id %}{{ page.id }}{% else %}/index{% endif %}';
    </script>
</div>