<!-- FROM: https://developers.google.com/+/web/badge/ -->

<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-href="//plus.google.com/u/0/114054672576929802335" data-layout="landscape" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
